@model MVC_Project.Models.Email

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Brigham Young University<br />
    Information Systems Department<br />
    790 TNRB<br />
    Provo, UT 84602<br />
    <abbr title="Phone">Phone:</abbr>
    801.422.3247
</address>

@using (Html.BeginForm()) {

    <fieldset>
        <legend>Email</legend>

        <!-- This looks a lot better when the field title is above the text boxes -->
        <!-- Moved Validation below the fields to improve User Experience -->
        <div>From:</div>
        <div class="textboxes">
            @Html.TextBoxFor(model => model.From)<br />
            @Html.ValidationMessageFor(model => model.From)
        </div>
        
        <div>Subject:</div>
        <div class ="textboxes">
            @Html.TextBoxFor(model => model.Subject)<br />
            @Html.ValidationMessageFor(model => model.Subject)
        </div>
        
        <div>Message:</div>
        <div class="textboxes">
            @Html.TextAreaFor(model => model.Body, new { rows = "10", cols = "50" })<br />
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        <input type="submit" value="Send" />
    </fieldset>
}
