@model MVC_Project.Models.Email

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Brigham Young University<br />
    Information Systems Department<br />
    790 TNRB<br />
    Provo, UT 84602<br />
    <abbr title="Phone">P:</abbr>
    801.422.6848
</address>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Email</legend>


        <div>
            <p>From: @Html.TextBoxFor(model => model.From)</p>
        </div>
        

        <div>
            <p>Subject: @Html.TextBoxFor(model => model.Subject)</p>
        </div>
        
        <div>
            <p>Message: @Html.TextAreaFor(model => model.Body, new { rows = "10", cols = "50" })</p>
        </div>
        <p>
            <input type="submit" value="Send" />
        </p>
    </fieldset>
}
